@charset "UTF-8";

/*cores
azul escuro para versão mobile
azul escuro: #010a1f
azul claro: #94bccd
*/ 

/* configurações Mobile First*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #030f2d;    
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 570px;
    border-radius: 15px;
    background-color: antiquewhite;
    overflow: hidden;
    box-shadow: 0px 0px 80px rgb(0, 0, 0);

    transition: all .6s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: url(../imagem/areia.jpg) no-repeat;
    background-size: cover;
    height: 260px;   

}

#formulario {
    display: block;
    padding: 10px;
    text-align: center;

}