@charset "UTF-8";

/*cores
azul escuro para versão mobile
azul escuro: #010a1f
azul claro: #94bccd
*/ 

/* configurações Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #010a1f,#04729e);
    /*background-color: #030f2d;*/    
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

div#formulario > h1 {
    font-size: 2.5em;
    color: rgb(211, 210, 210);
    font-weight: lighter;
}

div#formulario > p {
    font-size: 1em;
    padding: 20px 0px 20px 0px;
    color: rgb(255, 255, 255);
}

#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 570px;
    border-radius: 15px;
    background-color: antiquewhite;
    overflow: hidden;
    box-shadow: 0px 0px 80px rgb(0, 0, 0);

    transition: all .6s;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: url(../imagem/areia.jpg) no-repeat;
    background-size: cover;
    height: 220px;   

}

#formulario {
    height: 100%;
    background-color: #080613;
    display: block;
    padding: 10px;
    text-align: center;

}

input {
    font-size: .9em;
    width: 210px;
    font-weight: 200;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    background-color: #121212;
    border: 2px solid rgb(17, 17, 78);
    color: rgb(255, 255, 255);
}

#log {
    width: 120px;
    margin-top: 15px;
    font-size: 1.2em;
    color: white;
    padding: 10px;
}

#log:hover {
    transform: translate(-4px, -4px);
    transition: 1s;
} 

